
@{
    ViewData["Title"] = "Contact";
}

<section class="contact">
    <img src="@Url.Content("/images/background/bg1.jpg")" alt="Picture">
    <div class="overlay-contact">
        <h2>Contact & About</h2>
        <div class="contact-box">
            <div class="box-1 box-set">
                <h3>
                    Contact Us
                </h3>
                <p>
                    This website was written by [your name]
                    To get in contact please email [link to your email address]
                </p>
            </div>
            <div class="box-2 box-set">
                <h3>About Us</h3>
                <p>
                    This website provides an introduction to Artificial Intelligence and was created as
                    partial fulfillment of the assessment requirements of Web Design and Programming at the
                    University of Canberra.
                    This site is built on the ASP.NET CORE framework and employs Bootstrap responsive design
                    techniques.
                </p>
            </div>
            <div class="box-3 box-set">
                <h3>
                    Copyright
                </h3>
                <p>
                    All images used in this website were downloaded from <a href="https://unsplash.com/">Unsplash</a>.
                </p>
                <p>
                    The icons for the footer from <a href="https://fontawesome.com/">fontawesome</a>.
                </p>
                <p>
                    The Anton font used for headers from <a href="https://fonts.google.com/"> Google Fonts</a>
                </p>
                <p>
                    The AI jobs dataset from <a href="https://ai-jobs.net/">Insights</a>
                    </p>
                <p>
                    The Python source from  <a href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-analysis">Kaggle</a>
                    </p>
                <p>
                    The Python web based on PyScript from Real <a href="https://realpython.com/pyscript-python-in-browser">Python</a>
                    </p>
            </div>
        </div>
    </div>
</section>

