
@{
    ViewData["Title"] = "GenAiTools";
}

<section class="contact">
    <img src="@Url.Content("/images/background/bg6.jpg")" alt="Picture">
    <div class="overlay-contact">
        <h2>GenAI Organizations</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="featuredPropBox-2">
                        <ul>
                            <li>
                                <div>
                                    <div class="fptext">
                                        <p>Microsoft</p>
                                        <div class="line"></div>
                                        <a asp-area="" asp-controller="Home" asp-action="GenAiTools">More Details</a>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="fptext">
                                        <p>Google</p>
                                        <div class="line"></div>
                                        <a asp-area="" asp-controller="Home" asp-action="GenAiTools">More Details</a>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="fptext">
                                        <p>IBM</p>
                                        <div class="line"></div>
                                        <a asp-area="" asp-controller="Home" asp-action="GenAiTools">More Details</a>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="fptext">
                                        <p>Amazon</p>
                                        <div class="line"></div>
                                        <a asp-area="" asp-controller="Home" asp-action="GenAiTools">More Details</a>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


