    
@{
    ViewData["Title"] = "GenAiTools";
}

<section class="contact">
    <img src="@Url.Content("/images/background/bg5.jpg")" alt="Picture">
    <div class="overlay-contact">
        <h2>GenAI Tools</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="featuredPropBox">
                        <ul>
                            <li>
                                <div>
                                    <div class="fptext">
                                        <p>Chat GPT</p>
                                        <div class="line"></div>
                                        <a asp-area="" asp-controller="GenAITools" asp-action="ChatGPT">More Details</a>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="fptext">
                                        <p>Google BRAD</p>
                                        <div class="line"></div>
                                        <a asp-area="" asp-controller="GenAITools" asp-action="GoogleBRAD">More Details</a>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="fptext">
                                        <p>Midjourney</p>
                                        <div class="line"></div>
                                        <a asp-area="" asp-controller="GenAITools" asp-action="Midjourney">More Details</a>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="fptext">
                                        <p>DALL-E</p>
                                        <div class="line"></div>
                                        <a asp-area="" asp-controller="GenAITools" asp-action="DALLE">More Details</a>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


